.calendar {
}

.currentDayLarge {
    font-size: 277px;
    width: 962px;
    text-align: center;
    background: #555;
    color: #eee;
    font-family: "fira";
    font-weight: bold;
}

.monthName {
    font-size: 176px;
    width: 962px;
    overflow: hidden;
    text-align: center;
    font-family: "envy-code-r";
    font-weight: bold;
}

.weekNumHeader {
    width: 148px;
    font-size: 37px;
    text-align: left;
    background: #ddd;
    font-family: "bedstead";
    font-weight: bold;
}

.calendarTable {
    border: 0;
    border-spacing: 0;
}

.weekDayHeader {
    width: 111px;
    font-size: 56px;
    text-align: center;
    font-family: "bedstead";
    font-weight: bold;
}

.weekDayHeaderWeekend {
    background: #ccc;
}

.weekNumRow {
    font-size: 37px;
    text-align: left;
    background: #ddd;
    font-family: "cartograph";
}

.dayCell {
    font-size: 56px;
    text-align: center;
    font-family: "bront-ubuntu";
}

.weekend {
    background: #ccc;
}

.currentDay {
    color: #fff;
    background: #222 !important;
    font-weight: bold;
}

.publicHoliday {
    background: #ccc;
}

.schoolHoliday {
    background: #aaa;
}

.important {
    background: #888;
}

.calendarLegend {
    font-size: 56px;
    font-family: "bront-ubuntu";
    overflow-wrap: break-word;
}
